name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6

  check-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - name: audit-ci
        run: pnpm i && pnpm check-deps

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - name: lint
        run: pnpm i && pnpm lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - name: test
        run: pnpm i && pnpm coverage

  build:
    needs: [commitlint, check-deps, lint, test]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: build
        run: pnpm i && pnpm build

      - name: save build artifact
        uses: actions/upload-artifact@v7
        with:
          name: dist
          path: dist

  release-please:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: pnpm/action-setup@v2
        with:
          version: 10
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: node
          package-name: "@jcartledge/react-conditional"

      - uses: actions/checkout@v6
        if: ${{steps.release.outputs.release_created}}

      - uses: actions/setup-node@v6
        with:
          node-version: 19
          registry-url: "https://registry.npmjs.org"
        if: ${{steps.release.outputs.release_created}}

      - name: retrieve build artifact
        uses: actions/download-artifact@v8
        with:
          name: dist
          path: dist
        if: ${{steps.release.outputs.release_created}}

      - run: pnpm i && pnpm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{steps.release.outputs.release_created}}

      - name: Build docs
        run: pnpm docs
        if: ${{steps.release.outputs.release_created}}

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
        if: ${{steps.release.outputs.release_created}}
